@import './colors.scss';

html, body {
  font-family: 'Roboto Slab', serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: absolute;
  background-image: url('../images/main-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
}

h3 {
  text-align: center;
  margin: 0;
}

h4 {
  margin: 0;
  text-align: center;
  text-decoration: underline;
}

h5 {
  margin: 0;
  text-align: center;
}

q {
  font-style: italic;
  display: block;
  margin: 0;
  font-size: 2vh;
  word-break: normal;
  line-height: 1.50rem;
}

p {
  margin: 0;
  font-size: 2vh;
  text-align: justify;
}

section {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:nth-child(1) {
    background-image: url('../images/main-section-background.jpg');
    background-size: cover;
    h3 {
      color: $white;
      font-style: italic;
    }

    q {
      color: $white;
      text-align: center;
    }

    p {
      color: $white;
    }
  }
  &:nth-child(2) {
    q {
      text-align: justify;
    }
  }
  &:nth-child(3) {
    background-color: $white;
  }
  &:nth-child(4) {
  }
  &:nth-child(5) {
  }
}

.gallery {
  width: 70vw;
}

.icon {
  display: block;
  font-size: 12vw;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 20%;
}

.project-image {
  height: 20vh;
  width: 40vh;
}

.bg-dark {
  background-color: $dark-grey !important;
}

.projects-wrapper {
  margin-top: 4rem;
}

.about-me-wrapper {
  margin-top: 2.5rem;
}

.skills-wrapper {
  margin-top: 2.5rem;
}

.contact-wrapper {
  margin-top: 2.5rem;

  p {
    line-height: 1.50rem;
  }
}

.social-media {
  text-decoration: none;
  color: $black;
  margin-left: .5rem;
  margin-right: .5rem;
}

.social-media:hover {
  text-decoration: none;
  cursor: pointer;
  color: $light-blue;
}

.social-media-icon {
  font-size: 2rem;
}

// Hover overlay
.project-link {
  display: block;
  position: relative;
}

.project-text {
  position:absolute;
  color:$white;
  height: 100%;
  width:100%;
}

.project-text {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(50, 54, 61, .8);
  opacity: 0;
  transition:opacity 500ms ease-in-out;

  p {
    margin: 1rem;
    text-align: justify;
    line-height: 1.5rem;
  }
}

.project-link:hover .project-text{
  opacity:1;
}

// Flickity Buttons style
// .flickity-button {
//   background: $light-grey;
// }

.flickity-button:hover {
  background: $dark-grey;

  .flickity-button-icon {
    fill: $white;
  }
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.flickity-button-icon {
  fill: $black;
}

.flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-prev-next-button.next {
  right: -40px;
}

#about-me-picture {
  margin: 1.25rem;
  max-width: 30vw;
  max-height: 30vh;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .icon {
    display: block;
    font-size: 7vw;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    width: 20%;
  }
}

@media (min-width: 992px) {
  .project-image {
    height: 25vh;
    width: 50vh;
  }

  h4 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .gallery {
    width: 50vw;
  }

  .icon {
    font-size: 7vw;
    margin: 0 0;
  }

  .main-wrapper {
    max-width: 60vw;
  }

  .projects-wrapper {
    margin-top: 0;
    max-width: 80vw;
    max-height: 80vh;
  }

  .about-me-wrapper {
    max-width: 60vw;
    margin-top: 0;
    h3 {
      margin-bottom: 2rem;
    }

    q {
      line-height: 2rem;
    }
  }

  .skills-wrapper {
    margin-top: 0;
  }

  .contact-wrapper {
    margin-top: 0;
  }

  #about-me-picture {
    max-width: 30vw;
    max-height: 30vh;
    border-radius: 15%;
  }
}

@media (min-width: 1200px) {
  .project-image {
    height: 33vh;
    width: 66vh;
  }

  .social-media-icon {
    font-size: 2.5rem;
  }
}
