@import './colors.scss';

html, body {
  font-family: 'Roboto Slab', serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  scroll-behavior: smooth;
  background-color: $light-grey;
}

body {
  position: relative;
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
}

h5 {
  margin: 0;
  text-align: left;
}

q {
  font-style: italic;
  display: block;
  margin: 0;
  font-size: 2vh;
  word-break: normal;
  line-height: 1.50rem;
}

p {
  margin: 0;
  font-size: 2vh;
  text-align: justify;
}

section {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:nth-child(1) {
    background-image: url('../images/main-section-background.jpg');
    background-size: cover;

    q {
      color: $white;
    }

    p {
      color: $white;
    }
  }
  &:nth-child(2) {
    q {
      text-align: justify;
    }
  }
  &:nth-child(3) {
  }
  &:nth-child(4) {
  }
  &:nth-child(5) {
  }
}

.gallery {
  width: 70vw;
}

.icon {
  display: block;
  font-size: 12vw;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  width: 20%;
}

.project-image {
  height: 20vh;
  width: 40vh;
}

.bg-dark {
  background-color: $dark-grey !important;
}

.btn-outline-light {
  background-color: transparent;
  border-color: transparent;
}

.next-page {
  font-size: 2.5rem;
}

.projects-wrapper {
  margin-top: 4rem;
}

.about-me-wrapper {
  margin-top: 2.5rem;
}

.skills-wrapper {
  margin-top: 2.5rem;
}

.contact-wrapper {
  margin-top: 2.5rem;
}

// Hover overlay

.project-link {
  display: block;
  position: relative;
}

.project-text {
  position:absolute;
  color:$white;
  height: 100%;
  width:100%;
}

.project-text {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(50, 54, 61, .8);
  opacity: 0;
  transition:opacity 500ms ease-in-out;

  p {
    margin: 1rem;
    text-align: justify;
    line-height: 1.5rem;
  }
}

.project-link:hover .project-text{
  opacity:1;
}

// Flickity Buttons style
.flickity-button {
  background: $light-grey;
}

.flickity-button:hover {
  background: $dark-grey;

  .flickity-button-icon {
    fill: $white;
  }
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.flickity-button-icon {
  fill: $black;
}

.flickity-prev-next-button.previous {
  left: -40px;
}

.flickity-prev-next-button.next {
  right: -40px;
}

#about-me-picture {
  margin: 1.25rem;
  max-width: 25vw;
  max-height: 25vh;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .project-image {
    height: 33vh;
    width: 66vh;
    background-color: $light-blue;
  }

  .gallery {
    width: 50vw;
  }

  .icon {
    font-size: 7vw;
    margin: 0 0;
  }

  .projects-wrapper {
    margin-top: 0;
  }

  .about-me-wrapper {
    margin-top: 0;
  }

  .skills-wrapper {
    margin-top: 0;
  }

  .contact-wrapper {
    margin-top: 0;
  }
}
