html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth; }

main {
  height: 100vh; }

h5 {
  margin: 1rem;
  text-align: left; }

section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  section:nth-child(1) {
    background: #F6F7EB; }
  section:nth-child(2) {
    background: #143642; }
  section:nth-child(3) {
    background: #0F8B8D; }
  section:nth-child(4) {
    background: #EC9A29; }
    section:nth-child(4) .gallery {
      width: 60vw; }
      section:nth-child(4) .gallery .gallery-cell {
        display: flex;
        justify-content: center;
        width: 30%; }
  section:nth-child(5) {
    background: #FE5D26; }

.icon {
  font-size: 12vw; }

.flickity-button {
  background: #EC9A29; }

.flickity-button:hover {
  background: #F90; }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

.flickity-button-icon {
  fill: #000; }

.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }

@media (min-width: 992px) {
  .row {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important; }
  .icon {
    font-size: 7vw;
    padding: 0 !important;
    margin: 0 !important; } }
